<aside id="nhsuk-cookie-banner" data-nosnippet="true" role="complementary" aria-labelledby="cookie-title">
    <div class="nhsuk-cookie-banner" id="cookiebanner">
        <div class="nhsuk-width-container">
            <h2 id="cookie-title">Cookies on the NHS Digital Weight Management Programme Template Site</h2>
            <p>We've put some small files called cookies on your device to make our site work.</p>
            <p>You can <a id="nhsuk-cookie-banner__link" asp-controller="Home" asp-action="Cookies" tabindex="0">read more about our cookies here</a>.</p>
            <ul>
                <li><button class="nhsuk-button" id="nhsuk-cookie-banner__link_accept_analytics" tabindex="0" >I understand</button></li>
            </ul>
        </div>
    </div>
</aside>