<footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
        <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" asp-controller="Home" asp-action="Accessibility">Accessibility statement</a></li>
                <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" asp-controller="Home" asp-action="ContactUs">Contact us</a></li>
                <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" asp-controller="Home" asp-action="Cookies">Cookies</a></li>
                <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" asp-controller="Home" asp-action="Privacy">Privacy policy</a></li>
                <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" asp-controller="Home" asp-action="TermsAndConditions">Terms and conditions</a></li>
            </ul>
            <p class="nhsuk-footer__copyright">© Crown copyright</p>
        </div>
    </div>
</footer>