@{
    ViewData["Title"] = "Accessibility Policy";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsblue">Accessibility Statement</h1>

                <p>
                    This website is run by NHS Midlands and Lancashire CSU on
                    behalf of NHS England's Digital Weight Management
                    Programme Template Site. We want as many people as possible to be
                    able to use this website.
                </p>

                <p>For example, that means you should be able to:</p>

                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>use your web browser to change colours, contrast levels and fonts</li>
                    <li>zoom in up to 300% without the text spilling off the screen</li>
                    <li>navigate most of the website using just a keyboard</li>
                    <li>navigate most of the website using speech recognition software</li>
                    <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                    <li>access the website using a mobile or tablet</li>
                </ul>

                <p>
                    On sections that don't provide technical information, we've
                    also made the website text as simple as possible to
                    understand. AbilityNet has advice on making your device
                    easier to use if you have a disability.
                </p>

                <h2>Reporting accessibility problems with this website</h2>
                <p>
                    We're always looking to improve the accessibility of this
                    website. If you find any problems not listed on this page
                    or think we're not meeting accessibility requirements,
                    contact: <a href="mailto:england.web@england.nhs.uk">england.web@england.nhs.uk</a>
                    with details of the problem you have encountered.
                </p>

                <h2>Enforcement procedure</h2>
                <p>
                    The Equality and Human Rights Commission (EHRC) is responsible
                    for enforcing the Public Sector Bodies (Websites and
                    Mobile Applications) (No. 2) Accessibility Regulations 2018
                    (the 'accessibility regulations'). If you're not happy with
                    how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/app/ask">
                        contact the Equality Advisory and Support Service (EASS)
                    </a>.
                </p>

                <h2>Technical information about this website's accessibility</h2>

                <p>
                    NHS Midlands and Lancashire CSU in conjunction with NHS
                    England are committed to making this website accessible,
                    in accordance with the Public Sector Bodies (Websites and
                    Mobile Applications) (No. 2) Accessibility Regulations 2018.
                </p>
                <h2>Compliance status</h2>
                <p>
                    This website is fully compliant with the
                    <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 standard</a>.
                </p>
                <p>Please be aware this is a live website and is constantly being updated.</p>
                <div class="nhsuk-review-date">
                    <p class="nhsuk-body-s">
                        Page last reviewed: September 2021
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>