@{
    ViewData["Title"] = "Contact Us";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsblue">Contact Us</h1>
                <p><b>GP Practice:</b> If you are experiencing any technical issues with the templates, please contact your local Data Quality Team or Primary Care IT support team </p>
                <p><b>Pharmacies:</b> If you have a query, please email <a href="mailto:england.wmp-prevention@nhs.net">england.wmp-prevention@nhs.net</a> from your NHS.net email address and we will get back to you as soon as we can. </p>
            </div>
        </div>
    </div>
</div>