@{
    ViewData["Title"] = "Cookies Policy";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsblue">Cookies Policy</h1>
                <h2>What are cookies?</h2>

                <p>Cookies are files saved on your phone, tablet or computer when you visit a website. They store information about how you use the website, such as the pages you visit.</p>

                <p>Cookies are not viruses or computer programs. They are very small so do not take up much space.</p>

                <h2>How we use cookies</h2>

                <p>We use cookies to make our website work, for example by keeping it secure</p>
                <details class="nhsuk-details">
                    <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                            List of cookies that make our website work
                        </span>
                    </summary>
                    <div class="nhsuk-details__text">
                        <div class="nhsuk-table-responsive">
                            <table>
                                <caption>Cookies needed for the NHS website work</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Purpose</th>
                                        <th scope="col">Expires</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ASLBSACORS</td>
                                        <td>Helps stop our site crashing by spreading traffic across web servers</td>
                                        <td>When you close the browser</td>
                                    </tr>
                                    <tr>
                                        <td>ASLBSA</td>
                                        <td>Helps stop our site crashing by spreading traffic across web servers</td>
                                        <td>When you close the browser</td>
                                    </tr>
                                    <tr>
                                        <td>ARRAffinitySameSite</td>
                                        <td>Helps stop our site crashing by spreading traffic across web servers</td>
                                        <td>When you close the browser</td>
                                    </tr>
                                    <tr>
                                        <td>ARRAffinity</td>
                                        <td>Helps stop our site crashing by spreading traffic across web servers</td>
                                        <td>When you close the browser</td>
                                    </tr>

                                    <tr>
                                        <td>.WmpGp.Session</td>
                                        <td>Stores your answers so they can be verified and logged for reporting purposes</td>
                                        <td>When you close the browser</td>
                                    </tr>
                                    <tr>
                                        <td>.AspNetCore.Antiforgery.9fXoN5jHCXs</td>
                                        <td>Helps keep the site secure by preventing cross-site request forgery (CSRF) attacks</td>
                                        <td>When you close the browser</td>
                                    </tr>
                                    <tr>
                                        <td>CookieConsent</td>
                                        <td>Remembers if you used our cookies banner</td>
                                        <td>When you close the browser</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </details>

                <h2>Change your cookie settings</h2>

                <p>Unfortunately, due to the essential cookies we use you are not able to change the cookie settings. As detailed above the cookies we use are deleted after you quit the browser.</p>

                <h2>How we use the information we collect</h2>

                <p>To find out how we collect, store and use information about you or your visit, see the <a asp-controller="Home" asp-action="PrivacyPolicy">privacy policy</a>.</p>
                <div class="nhsuk-review-date">
                    <p class="nhsuk-body-s">
                        Page last reviewed: April 2021
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
