@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsblue">Your privacy on the NHS Digital Weight Management Programme Templates</h1>
                <h2>Our privacy policy</h2>
                <p>
                    NHS Midlands and Lancashire Commissioning Support Unit
                    (We, Our, Us and all similar references) are committed to
                    protecting and respecting  your privacy.
                </p>

                <p>
                    This policy sets out the basis on which any personal data
                    We collect from you, or that you provide to Us, will be
                    processed by us. Please read the following carefully to
                    understand how we look after your personal data when you
                    access our Site and  tell you about your privacy rights and
                    how the law protects you.
                </p>

                <p>
                    We are NHS Midlands and Lancashire Commissioning Support Unit.
                    Our registered address is Kingston House, 438-450 High Street,
                    West  Bromwich, West Midlands B70 9LD.
                </p>

                <p>
                    You can contact us by post at the above address (Attention
                    to Digital Innovation Unit) or by email at
                    <a href="mailto:mlcsu.digitalinnovations@nhs.net">mlcsu.digitalinnovations@nhs.net</a>
                </p>

                <p>
                    Any enquiries about our use of your personal data should be
                    addressed to our Data Protection Officer using the above
                    address or email <a href="mailto:mlcsu.ig@nhs.net">mlcsu.ig@nhs.net</a>
                </p>

                <h3>What data do we collect?</h3>


                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Practice / Pharmacy ODS Code</li>
                    <li>Contact email address for practice / Pharmacy</li>
                </ul>

                <p>
                    When you access the NHS Digital Weight Management Programme (WMP) Template Site, you are the data subject
                    who supplies the information necessary for your use of the
                    system. This includes personal data such as your:
                </p>

                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Practice / Pharmacy ODS Code</li>
                    <li>Contact email address for practice / Pharmacy</li>
                </ul>

                <h3>How we use your personal data</h3>

                <p>
                    We will use your personal data only when the law allows us
                    to. Most commonly, we will use your personal data in the
                    following ways:
                </p>

                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>
                        To enable you, as a user, to access the WMP Template Site.
                    </li>
                    <li>
                        To enable you, as a user, to select the appropriate Template.
                    </li>
                    <li>
                        To enable us, using the practice/ pharmacy contact email address provided, to send future template updates.
                    </li>
                </ul>

                <h3>What do we do with your information?</h3>

                <p>
                    Your information is securely stored in our database. We will not share your data with any non-related third parties. 
                    Nor will we use the information to make any automated decisions that might affect you. Your data will not be sent or stored outside of the UK.
                </p>

                <p>
                    Unfortunately, the transmission of information via the
                    internet is not completely secure. Although we will do our
                    best to protect your personal data, we cannot guarantee
                    the security of your data transmitted to our App; any
                    transmission is at your own risk. Once we have received
                    your information, we will use strict procedures and
                    security features to try to prevent unauthorised access.
                </p>

                <p>
                    If NHS Midlands and Lancashire CSU (MLCSU) or its assets are
                    acquired by a third party or transferred to a third-party
                    personal data held by  it about its registered users will
                    be one of the transferred assets.
                </p>

                <p>
                    MLCSU will comply with any legal obligation to share personal
                    data, or to protect the rights, property, or safety of
                    MLCSU, our registered users and customers. This includes
                    exchanging information with other companies and organisations
                    for the purposes of fraud protection and credit risk
                    reduction and to aid the prevention of cybercrime.
                </p>

                <p>
                    We may use cookies or browser storage to temporarily store
                    information on your device. This information will be used
                    to secure your login session, remember the application
                    state, and to cache data when the device is without an
                    Internet connection.
                </p>

                <h3>Data retention</h3>

                <p>
                    We will only retain your personal data for as long as is
                    reasonably necessary to fulfil the purposes for which we
                    collected it, including satisfying any legal, regulatory,
                    accounting or reporting requirements.
                </p>

                <h3>Your rights</h3>

                <p>
                    <strong>Request access</strong> to your personal data
                    (commonly known as a &quot;data subject access
                    request&quot;). This enables you to  receive a copy of the
                    personal data we hold about you and to check that we are
                    lawfully processing it.
                </p>

                <p>
                    <strong>Request correction</strong> of the personal data
                    that we hold about you. This enables you to have any
                    incomplete or inaccurate data we hold about you corrected,
                    though we may need to verify the accuracy of the new data
                    you provide to us.
                </p>

                <p>
                    <strong>Request erasure</strong> of your personal data.
                    This enables you to ask us to delete or remove personal
                    data where there is no good reason for us continuing to
                    process it. You also have the right to ask us to delete
                    or remove your personal data where you have successfully
                    exercised your right to object to processing (see below),
                    where we may have processed your information unlawfully or
                    where we are required to erase your personal data to
                    comply with local law. Note, however, that we may not always
                    be able to comply  with your request of erasure for specific
                    legal reasons which will be notified to you, if applicable,
                    at the time of your request.
                </p>

                <p>
                    <strong>Object to processing</strong> of your personal data
                    where we are relying on a legitimate interest (or those of
                    a third party) and there is something about your situation
                    which makes you want to object to processing on this ground
                    as you feel it impacts on your fundamental rights and
                    freedoms. You also have the right to object where we are
                    processing your personal data for direct marketing
                    purposes. In some cases, we may demonstrate that we have
                    compelling legitimate grounds to process your information
                    which override your rights and freedoms.
                </p>

                <p>
                    <strong>Request restriction</strong> of processing of your
                    personal data. This enables you to ask us to suspend the
                    processing of your personal data in the following
                    scenarios:
                </p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>if you want us to establish the data's accuracy</li>
                    <li>
                        where our use of the data is unlawful, but you do not
                        want us to erase it
                    </li>
                    <li>
                        where you need us to hold the data, even if we no longer
                        require it as you need it to establish, exercise or
                        defend legal claims
                    </li>
                    <li>
                        you have objected to our use of your data but we need
                        to verify whether we have overriding legitimate grounds
                        to use it.
                    </li>
                </ul>

                <p>
                    <strong>Request the transfer</strong> of your personal data
                    to you or to a third party. We will provide to you, or a
                    third party you have chosen, your personal data in a
                    structured, commonly used, machine-readable format. Note
                    that this right only applies to automated information which
                    you initially provided consent for us to use or where we
                    used the information to perform a contract with you.
                </p>

                <p>
                    <strong>Withdraw consent</strong> at any time where we are
                    relying on consent to process your personal data. However,
                    this will not affect the lawfulness of any processing
                    carried out before you withdraw your consent. If you
                    withdraw your consent, we may not be able to provide
                    certain products or services to you. We will advise you if
                    this is the case at the time you withdraw your consent.
                </p>

                <h3>Changes to privacy policy</h3>

                <p>
                    We aim to keep our privacy policy under regular review.
                    This version was last updated in September 2021.
                </p>

                <p>
                    Any changes We may make to our privacy policy in the future
                    will be posted on this page. The new terms may be displayed
                    on-screen and you will  be required to read and accept them
                    to continue your use of the WMP Template site.
                </p>

                <h3>Your right to complain</h3>

                <p>
                    If you have a complaint about our use of your information,
                    you can contact the Information Commissioner's Office via
                    their website at
                    <a href="https://www.ico.org/concerns">www.ico.org/concerns</a>
                    or write to them at:
                </p>
                <p>
                    Information Commissioner&rsquo;s Office<br />
                    Wycliffe House, Water  Lane, Wilmslow, Cheshire, SK9 5AF
                </p>

                <p>
                    I have read the Privacy Notice above, and I consent to MLCSU
                    holding my personal data for NHS Digital Weight Management
                    Programme Template site processing purposes and share
                    them with your chosen Weight Management Provider.
                </p>

                <div class="nhsuk-review-date">
                    <p class="nhsuk-body-s">
                        Page last reviewed: September 2021
                        Next review due: September 2022
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>