@{
    ViewData["Title"] = "Terms and Conditions";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsblue">Terms and Conditions</h1>
                <h2>1 Introduction</h2>
                <h3>1.1</h3>
                <p>
                    The NHS Midlands and Lancashire Commissioning Support Unit (MLCSU) owns the Digital Weight Management Programme (DWMP) Template Site. The content, data and services on the DWMP Template Website are delivered by MLCSU. You may access and use the DWMP Template Website if you agree to be legally bound by the terms set out here. If you do not agree to be legally bound by these terms, please do not access and/or use the DWMP Template Website.
                </p>
                <h3>1.2</h3>
                <p>
                    The DWMP Template Website is intended for use only by general practices in England. References to &quot;the NHS&quot; mean
                    &quot;the NHS in England&quot; unless otherwise stated.
                    Service descriptions, entitlements and costs refer to
                    services in England and arrangements may differ elsewhere
                    in the UK.
                </p>
                <h3>1.3</h3>
                <p>
                    The purpose of this DWMP Template Website is to:
                    <ul>
                        <li>
                            provide access to General Practice / Pharmacy resources required to make patient referrals to the NHSE Digital Weight Management Programme (DWMP) through the DWMP &quot;Referral Hub&quot;.
                        </li>
                        <li>
                            enable us, using the practice/ pharmacy contact email address provided, to send future template updates.
                        </li>
                        <li>
                            Practices will use the DWMP Template Website to download a zip file relevant for their clinical system. It is important that practices take care to select the correct zip file for their practice based upon the clinical system they utilise. GP clinical systems covered on this DWMP Template Website are 1. EMIS, 2. System One and 3. Vision.
                        </li>
                        <li>
                            Pharmacies will use the DWMP Template Website to download source documents relevant to the pharmacy referral process.
                        </li>
                    </ul>
                </p>

                <p>General Practices using the DWMP Template Website <strong>must not change the referral forms that are part of the zip file in any way</strong> and should contact their local Data Quality team if they need any support / advice.</p>
                <p>Pharmacies using the DWMP Template Website must not change the referral source documents and should contact NHS England Digital Weight Management team via email ( <a href="mailto:england.wmp-prevention@nhs.net">england.wmp-prevention@nhs.net</a>) if they need any support / advice.</p>
                <p>For GP practices, the resources available through this DWMP Template Website are:</p>
                <ol class="nhsuk-list nhsuk-list--number">
                    <li>
                        EMIS: The zip file will contain:
                        <ul class="nhsuk-list">
                            <li><strong>(a)</strong> Digital Weight Management Resource Guide – this document will contain details on how to download and import the remaining items in this list to your EMIS clinical system.</li>
                            <li><strong>(b)</strong> EMIS Referral Form – Practices <strong>must</strong> use this template to refer service users into the NHSE Digital Weight Management Programme.</li>
                            <li><strong>(c)</strong> EMIS Search – this search will enable practices to search for eligible service users for the NHS Digital Weight Management Programme. The outcome of the search is subject to exclusion criteria such as pregnancy and unmanaged co-morbidities.</li>
                            <li><strong>(d)</strong> EMIS Protocol – this protocol will alert practices to identify eligible service users when attending other appointment.</li>
                            <li><strong>(e)</strong> E-Referral System Service Search – this is a guide to the search options to locate the NHS Digital Weight Management Programme for referrals.</li>
                            <li><strong>(f)</strong> Guidance for GP practices and service users – these guides are to explain the service to all members of the practice and provide a reference document for patients following referral</li>
                        </ul>
                    </li>

                    <p>Please do not <strong>alter</strong> this Referral Form and contact your local Data Quality team if you need any support / advice.</p>


                    <li>
                        SystmOne: The zip file will contain:
                        <ul class="nhsuk-list">
                            <li><strong>(a)</strong> Digital Weight Management Resource Guide – this document will contain details on how to download and import the remaining items in this list to your TPP SystmOne clinical system</li>
                            <li><strong>(b)</strong> SystmOne Referral Form – Practices must use this template to refer service users into the NHSE Digital Weight Management Programme.</li>
                            <li><strong>(c)</strong> SystmOne Search – this search will enable practices to search for eligible service users for the NHS Digital Weight Management Programme. The outcome of the search is subject to exclusion criteria such as pregnancy and unmanaged co-morbidities.</li>
                            <li><strong>(d)</strong> E-Referral System Service Search – this is a guide to the search options to locate the NHS Digital Weight Management Programme for referrals.</li>
                            <li><strong>(e)</strong> Guidance for GP practices and service users – these guides are to explain the service to all members of the practice and provide a reference document for patients following referral</li>
                        </ul>
                    </li>

                    <p>Please do not <strong>alter</strong> this Referral Form and contact your local Data Quality team if you need any support / advice.</p>


                    <li>
                        Vision: The zip file details will follow after it's inclusion in the WMP Template Website:
                        <ul class="nhsuk-list">
                            <li><strong>(a)</strong> Digital Weight Management Resource Guide – this document will contain how to download and import the remaining items in this list to your Vision clinical system</li>
                            <li><strong>(b)</strong> Vision Referral Form – you must use this template to refer patients to NHSE digital weight management programme.</li>
                            <li><strong>(c)</strong> Vision Search – this search will enable for to search for eligible patients for the NHS digital weight management programme. The outcome of the search is subject to exclusion criteria such as pregnancy and unmanaged co-morbidities.</li>
                        </ul>
                    </li>
                </ol>
                <p>Please do not <strong>alter</strong> this Referral Form and contact your local Data Quality team if you need any support / advice.</p>

                <p>For Pharmacies, the resources available through this DWMP Template Website are </p>
                <ol class="nhsuk-list nhsuk-list--number">
                    <li><strong>User guide:</strong><br />This is a comprehensive guide that will support pharmacy teams completion of referrals into the NHS Digital Weight Management Programme. </li>
                    <li><strong>Data Collection Template:</strong><br />This document can be used during a consultation with the patient to collect patient information required for the NHS Digital Weight Management Programme if the pharmacy team does not have access to the online form at point of consultation.</li>
                    <li><strong>Example:</strong><br />This is an example data collection template on how to complete a referral into the NHS Digital Weight Management Programme form the pharmacy referral pathway.</li>
                </ol>

                <h2>2 Changes to terms</h2>


                <h3>2.1</h3>
                <p>
                    We may make changes to the DWMP Template Website, including these terms, at any time. You will be legally bound by the updated or amended terms from the first time that you use the DWMP Template Website after we publish the changes on it.
                </p>

                <h2>3 Intellectual property rights</h2>
                <h3>3.1</h3>
                <p>
                    The MLCSU own or have the right to use all intellectual property rights in the contents of the DWMP Template Website or used for the provision of the DWMP Template Website ("DWMP Template Website Content"). This includes rights in copyright, patents, database rights, trademarks, and other intellectual property rights.
                </p>
                <h3>3.2</h3>
                <p>
                    You have permission to use the DWMP Template Website Content for the sole purposes described, and on the terms detailed, in these terms and conditions. You need written permission from us or any other owner of DWMP Template Website Content before you may use these items in any other way.
                </p>

                <h3>3.3</h3>
                <p>
                    Copyright and database rights in the WMP Template Website Content
                    are released free-of-charge under the current version of
                    the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a>
                    ("OGL"), except where specified, either in
                    these terms and conditions, elsewhere on this website or
                    in the OGL terms. If there is any conflict between the
                    OGL terms and these terms and conditions, these terms
                    and conditions shall take precedence.
                </p>

                <h3>3.4</h3>
                <p>
                    This means that you can use the DWMP Template Website Content, including copying it, adapting it, and using it for any purpose, including commercially, provided you follow these terms and conditions and the terms of the OGL.
                </p>

                <h3>3.5</h3>
                <p>
                    The OGL terms do not apply to the following categories of
                    NHS Website Content, and therefore these must not be used
                    without our or the relevant owner's prior consent:
                </p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>
                        any logos, visuals, image rights, trademarks, trade names and design styles (except where these are integral to a document or data set) of the DWMP Template Website, or any predecessor or linked body, as well as of any partner or contributor.
                    </li>
                    <li>
                        any other intellectual property rights, including but
                        not limited to patents, design rights and trademarks.
                    </li>
                    <li>
                        personal data (which will include but not be limited to
                        images, videos, and audio with identifiable people in
                        them).
                    </li>
                    <li>
                        information owned by third parties which we are not authorised to licence on to you. This includes everything itemised on our content not covered by our standard terms and conditions page, although we cannot guarantee that this list includes all information owned by third parties. Many images on the DWMP Template Website are included as these are licensed by stock sites. If in doubt, contact us using the details below (14.3).
                    </li>
                </ul>
                <h3>3.6</h3>
                <p><strong>(a)</strong> If you access the DWMP Template Website:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>
                        at the frequency specified on our standard terms and conditions page in the case of the subset of DWMP Template Website Content specified; or
                    </li>
                    <li>
                        at least every 7 days in respect of all other DWMP Template Website Content.
                    </li>
                </ul>

                <p>
                    then you must attribute us as follows: "Information from the DWMP Template Website" unless you have our written consent to an alternative attribution. The relevant attribution must be made for every separate instance, use or appearance of DWMP Template Website Content, and in each case, you must make a clear distinction between DWMP Template Website Content and your other content.
                </p>
                <p>
                    If you are displaying DWMP Template Website Content in a context where a functional link back to the article on the Referral Hub is possible, then each attribution should link to the page on the DWMP Template Website that the relevant DWMP Template Website Content has been supplied from.
                </p>
                <p>
                    You must additionally publish, in a prominent and noticeable
                    location within your site or service the statement that
                    "Information from the DWMP Template Website is licensed under
                    the Open Government Licence v3.0" and, where possible,
                    include a link to the
                    <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a>
                    .
                </p>
                <p><strong>(b)</strong> If you access the DWMP Template Website:</p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>
                        at the frequency specified on our standard terms and
                        conditions page in the case of the subset of DWMP Template Website Content specified; or
                    </li>
                    <li>
                        at least every 7 days in respect of all other DWMP Template Website Content.
                    </li>
                </ul>
                <p>
                    you must include the standard attribution "Contains
                    public sector information licensed under the Open Government
                    Licence v3.0." set out in the OGL and, where
                    possible, include a link to the publication of the
                    <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a>,
                    unless you have our written consent to an alternative
                    attribution. You must not attribute the content to the
                    DWMP Template Website or cite the NHS specifically as the source of
                    the adapted or non-refreshed content.
                </p>
                <p>
                    The following is a (non-exhaustive) list of examples of
                    changes to content that constitute adaptations:
                </p>
                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>
                        Any change to wording that serves to change its meaning
                        or impact.
                    </li>
                    <li>
                        Taking wording out of a context that is important to its
                        meaning.
                    </li>
                    <li>Translation into another language.</li>
                </ul>

                <p>
                    Any adaptation of DWMP Template Website Content or use of non-refreshed
                    DWMP Template Website Content may invalidate its formal clinical
                    approval; therefore, if you use any such DWMP Template Website
                    Content you will bear any risk associated with such
                    adaptation or failure to refresh.
                </p>
                <h3>3.7</h3>
                <p>
                    You must not use DWMP Template Website Content for or in association
                    with i) any purpose; or ii) a site or service; which is
                    illegal, derogatory, or otherwise objectionable or that
                    brings the NHS into disrepute. If you process any personal
                    data of your customers or users in association with your
                    use of any DWMP Template Website Content you must do so in
                    compliance with all applicable data protection and privacy
                    legislation and all relevant regulatory guidance, including
                    General Data Protection Regulation and Data Protection Act
                    2018.
                </p>
                <h3>3.8</h3>
                <p>
                    You may not directly or indirectly suggest any endorsement
                    or approval by the NHS of your site or service, or any
                    non-NHS entity, product or content or any views expressed
                    within your site or service.
                </p>
                <h3>3.9</h3>
                <p>
                    We reserve the right to alter, adapt, edit, modify or
                    restrict the availability of DWMP Template Website Content for use
                    on third-party sites at any time.
                </p>

                <h2>4 Liability</h2>
                <h3>4.1</h3>
                <p>
                    We accept no liability to you should the DWMP Template Website not be
                    available at any time.
                </p>
                <h3>4.2</h3>
                <p>
                    You acknowledge and agree that we will not be responsible
                    for any injury, loss, damage, costs, or expenses (whether
                    direct or indirect) arising out of or relating to the use or
                    misuse of the DWMP Template Website, except to the extent that such
                    liability cannot be excluded by law (i.e., our liability
                    for death or personal injury arising from our negligence,
                    or our fraud or fraudulent misrepresentation or any other
                    liability that cannot be excluded or limited under English
                    law). This means that we have no liability to you (or
                    anyone else on whose behalf you may use the DWMP Template Website)
                    for:
                </p>

                <p>
                    <strong>(a)</strong> any financial loss you may suffer or
                    any inability to claim any payments you may experience.
                </p>
                <p>
                    <strong>(b)</strong> any business loss you may suffer,
                    including loss of revenue, loss of profits or loss of
                    anticipated savings (whether those losses are the direct or
                    indirect result of our default).
                </p>
                <p>
                    <strong>(c)</strong> any loss which you suffer other than
                    because of our negligence or breach of statutory duty.
                </p>
                <p>
                    <strong>(d)</strong> any loss suffered due to the default
                    of any party other than us.
                </p>
                <h3>4.3</h3>
                <p>
                    Although we follow our governance processes and make
                    reasonable efforts to maintain service and accurate,
                    up-to-date content the DWMP Template Website is provided &quot;as
                    is&quot; and, to the extent permitted by law, we do not
                    warrant or represent (expressly or impliedly and including
                    but not limited to the implied warranties of satisfactory
                    quality and fitness for a particular purpose) that the
                    DWMP Template Website or any content is accurate, complete or
                    up-to-date, will meet your particular requirements or needs,
                    will be available uninterrupted or error free, that
                    defects will be corrected, or its supporting systems are
                    free of viruses or bugs.
                </p>
                <h3>4.4</h3>
                <p>
                    We do not accept any liability to you if we fail, or are
                    interrupted or delayed in the performance of any
                    obligation because of:
                </p>
                <p>
                    <strong>(a)</strong> the non-availability or failure of any
                    telecommunications or computer services, systems,
                    equipment, or software operated or provided by you or any
                    third party.
                </p>
                <p>
                    <strong>(b)</strong> any other event not reasonably
                    within our control.
                </p>
                <h3>4.5</h3>
                <p>
                    We do not give any commitments or accept any liability to
                    you in respect of content provided by other users of the
                    website or third parties.
                </p>
                <h3>4.6</h3>
                <p>
                    You acknowledge and agree that we will not be responsible
                    for any injury, loss, or damage (whether direct or indirect)
                    arising out of, or relating to the misuse of, or
                    inappropriate reliance on the contents or advice provided
                    via an external link on the DWMP Template Website, except to the
                    extent that such liability cannot be limited or excluded by
                    law.
                </p>

                <h2>5 Attacks, unauthorised access, and other violations</h2>
                <h3>5.1</h3>
                <p>
                    You must not try to gain unauthorised access to the DWMP Template Website, our services, the servers on which they are stored,
                    or any server, computer or database connected to them.
                    You must not attack the DWMP Template Website or services
                    hosted on it in any way, (this includes denial-of-service
                    attacks). We will report any attacks or attempts to gain
                    unauthorised access to the site or service to the relevant
                    law enforcement authorities and shall share information
                    about you with them.
                </p>
                <h3>5.2</h3>
                <p>You must not use the DWMP Template Website:</p>
                <p>
                    <strong>(a)</strong> to transmit any false, misleading,
                    fraudulent, defamatory, offensive, or illegal
                    communications.
                </p>
                <p>
                    <strong>(b)</strong> in a way that could damage, disable,
                    overburden, impair or compromise our systems or security
                    or interfere with other users.
                </p>
                <p>
                    <strong>(c)</strong> in any unlawful manner, for any
                    unlawful purpose, or in any manner inconsistent with these
                    terms of use, or act fraudulently or maliciously, for
                    example, by hacking into or inserting malicious code, such
                    as viruses or harmful data.
                </p>

                <h2>6 Remedies</h2>
                <h3>6.1</h3>
                <p>
                    To the extent that we are practically able to do so, we may
                    terminate your access to all or any part of DWMP Template Website
                    and services at any time without notice if you breach any
                    of the terms.
                </p>
                <h3>6.2</h3>
                <p>
                    We reserve the right to investigate complaints or reported
                    violations of our terms and to take any action we consider
                    appropriate, including but not limited to reporting any
                    suspected unlawful activity to law enforcement officials,
                    regulators, or other third parties and disclosing any
                    information necessary or appropriate to such persons or
                    entities relating to user information, email addresses,
                    usage history, IP addresses and traffic information.
                </p>

                <h2>7 General</h2>
                <h3>7.1</h3>
                <p>
                    If any of these terms are determined to be illegal, invalid,
                    or otherwise unenforceable then the remaining terms shall
                    remain in full force and effect.
                </p>
                <h3>7.2</h3>
                <p>
                    We may transfer our rights and obligations under these terms
                    to another organisation. You may only transfer your rights
                    or your obligations under these terms to another person if
                    we agree in writing.
                </p>
                <h3>7.3</h3>
                <p>
                    Your use of the DWMP Template Website and these terms, together with
                    any service specific additional terms, shall be governed by
                    and interpreted in accordance with the laws of England, and
                    you agree to the exclusive jurisdiction of the courts of
                    England in respect of any disputes that may arise in
                    relation to the DWMP Template Website.
                </p>

                <h3>7.4</h3>
                <p>
                    The DWMP Template Website is delivered for the Department of Health
                    and Social Care by:
                </p>
                <p>
                    NHS Midlands and Lancashire Commissioning Support Unit<br />
                    Kingston House <br />
                    438-450 High Street<br />
                    West Bromwich<br />
                    West Midlands<br />
                    B70 9LD
                </p>
                <div class="nhsuk-review-date">
                    <p class="nhsuk-body-s">
                        Page last reviewed: September 2021<br>
                        Next review due: September 2022
                    </p>
                </div>


            </div>
        </div>
    </div>
</div>